<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>レビュー更新</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
								<li class="breadcrumb-item"><a th:href="@{/stores/__${reviewEditForm.storeid.id}__/reviews}">レビュー 一覧　</a></li>
								<li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">レビュー編集</h1>
							
						 <form method="post" th:action="@{/stores/reviews/__${reviewEditForm.id}__/update}" th:object="${reviewEditForm}" >  
						    <input type="hidden"   th:field="*{id}">   
                               
							
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="usrid" class="col-form-label text-md-left fw-bold">user id</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('userid')}" class="text-danger small mb-2"
										th:errors="*{userid}"></div>
									<input type="hidden" class="form-control" th:field="*{userid.id}">
								</div>
							</div> 
							
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="storeid" class="col-form-label text-md-left fw-bold">store id</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('storeid')}" class="text-danger small mb-2"
										th:errors="*{stoureid}"></div>
									<input type="hidden" class="form-control" th:field="*{storeid.id}">
								</div>
							</div>  
                                           
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="Commenttext" class="col-form-label text-md-left fw-bold">レビュー</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('Commenttext')}" class="text-danger small mb-2"
										th:errors="*{Commenttext}"></div>
									<textarea class="form-control" th:field="*{Commenttext}" cols="30"
										rows="5"></textarea>
								</div>
							</div>  

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="value" class="col-form-label text-md-left fw-bold">評価</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('value')}" class="text-danger small mb-2"
										th:errors="*{value}"></div>
									<input type="number" class="form-control" th:field="*{value}">
								</div>
							</div> 

							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit"
									class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
	<script th:src="@{/js/preview.js}"></script>
</body>

</html>